body {
  font-family: Arial, sans-serif;
  margin: 30px;
}

#kotak,
#panel,
#box {
  width: 200px;
  height: 100px;
  background: lightblue;
  margin-top: 20px;
  display: none;
  text-align: center;
  line-height: 100px;
}

button {
  margin-top: 10px;
}
